<div class="content_container">
    <article>
        <h2 class="post_title">
            <a href="{{post.url| prepend: site.baseurl | replace: '//', '/'}}">{{ post.title }}</a>
        </h2>
        <span class="date">
            Published on {{ post.date | date: '%B %d, %Y' }}
        </span>
        {% if post.type == "standard" %}
            {% if post.featimg %}
                <img class="featimg" src="{{ site.media_folder | prepend: site.baseurl | replace: '//', '/'}}/{{ post.featimg }}" alt="{{ post.featimg }}">
            {% endif %}
        {% endif %}
        <div class="post_content">
            {{ post.content | truncatewords: 100 }}
        </div>
        <h2 style="text-align:right"><a href="{{post.url| prepend: site.baseurl | replace: '//', '/'}}" class="button input-btn" style="padding:10px">Read More...</a></h2>
    </article>
</div>
