<div class="container">
    <ul class="main-nav">
        <li class="small-logo"><a href="{{ site.url }}#header"><img src="{{ site.url }}{{site.baseurl}}/img/icon.png" alt=""></a></li>
        <li><a href="{{ site.url }}write-ups/">Write Ups</a></li>
        <li><a href="{{ site.url }}#security-wednesdays">Security Wednesdays</a></li>
        <li><a href="{{ site.url }}#the-ctf">The CTF</a></li>
        <li><a href="{{ site.url }}#team">Team</a></li>
        <li><a href="{{ site.url }}#contact">Contact</a></li>
        {% if site.tumblr %}
        <li class="social">
            <a href="{{ site.tumblr }}" class="tumblr"><i class="fa fa-tumblr"></i></a>
        </li>
        {% endif %}
        {% if site.pinterest %}
        <li class="social">
            <a href="{{ site.pinterest }}" class="pinterest"><i class="fa fa-pinterest"></i></a>
        </li>
        {% endif %}

        {% if site.instagram %}
        <li class="social">
            <a href="{{ site.instagram }}" class="instagram"><i class="fa fa-instagram"></i></a>
        </li>
        {% endif %}

        {% if site.twitter %}
        <li class="social">
            <a href="{{ site.twitter }}" class="twitter"><i class="fa fa-twitter"></i></a>
        </li>
        {% endif %}

        {% if site.facebook %}
        <li class="social">
            <a href="{{ site.facebook }}" class="facebook"><i class="fa fa-facebook"></i></a>
        </li>
        {% endif %}

        {% if site.youtube %}
        <li class="social">
            <a href="{{ site.youtube }}" class="youtube"><i class="fa fa-youtube"></i></a>
        </li>
        {% endif %}

        {% if site.vimeo %}
        <li class="social">
            <a href="{{ site.vimeo }}" class="vimeo"><i class="fa fa-vimeo-square"></i></a>
        </li>
        {% endif %}

        {% if site.soundcloud %}
        <li class="social">
            <a href="{{ site.soundcloud }}" class="soundcloud"><i class="fa fa-soundcloud"></i></a>
        </li>
        {% endif %}

        <a class="res-nav_click" href="#"><i class="fa-bars"></i></a>
        </div>